/*
Styles the jumbotron
 */

.jumbotron {
	background: url("https://s.hswstatic.com/gif/bear-spray-2.jpg"), center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #e6e6e6;
	font-family: 'Indie Flower', cursive;
	text-shadow: 1px 5px 5px rgba(0,0,0,0.9);
}
/*
styles to blockquote inside the jumbotron
 */
.blockquote-footer {
	color: #e6e6e6;
}

/*
Styles all btn-drk elements
 */
.btn-dark {
	background-color: rgba(0,0,0, 0.5);
}
/*
Section divider
 */
.feature-divider {
	border: none;
	margin: 3rem 0;
}
.divider {
	border-color: white;
	padding-bottom: 5px;
	margin: 0;
}

/**
Truth about taco bears section
 */
.truth {
	background-color: #343434;
	color: ghostwhite;
	font-family: 'Caveat', cursive;
}

/*
Facts section
 */

.fact-section {
	font-family: 'Kalam', cursive;
}
.fact-text {
	background-color: #226c6c;
	color: white;
}
/*
Footer
 */

.footer {
	background-color: #1d1d1d;
	color: ghostwhite;
}

.footer span, a {
	color: white;
}

.footer div:nth-child(2) {
	font-size: .6rem;
}
